.loader-container {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
.loader-icon {
  font-size: 100px !important;
  -webkit-animation: rotating 1.5s linear infinite;
  color: #4d81b7;
}
